/* Set the font family, letter spacing, text color, and background color for the entire page */
.body_main {
    font-family: monospace;
    letter-spacing: 1px;
    color: #39FF14;
    background-color: black;
    padding: 10px;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

/* Set up the container for the title animation */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the container to be 100% of the viewport height */
    background-color: black;
}

/* Style the text for the title animation */
.typing-text {
    overflow: hidden;
    animation: typing 1s steps(30, end);
    border-right: 2px solid #fff;
    color: #39FF14;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 20px;
}

/* Define the typing animation */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 40%
    }
}

/*button1 */
.button_opsec_container {
    padding: 10px;
    display: flex;
    overflow: hidden;
    border-right: 2px solid #fff;
}

.button_opsec {
    background-color: rgb(44, 146, 146, 1);
    color: #39FF14;
    width: 50%;
    height: 300px;
    line-height: 300px;
    display: inline-block;
    font-size: 300%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.text-hidden {
    animation: typing 1s steps(50, end);
    font-size: xx-large;
    display: none;

}

.button_opsec:hover+.text-hidden {
    display: inline;
}

/*button2*/
.button_se_container {
    padding: 10px;
    display: flex;
}

.button_se {
    background-color: rgb(44, 146, 146, 1);
    color: #39FF14;
    width: 50%;
    height: 300px;
    line-height: 300px;
    display: inline-block;
    font-size: 300%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-left: 50%;
    text-decoration: none;
}

.button_se:hover {
    background-color: #fff;
}



nav {
    background-color: rgb(8, 4, 20);
    height: 40px;
    display: flex;
    align-items: center;
}

nav h3 {
    margin-left: 10px;
}