/* Set the font family, letter spacing, text color, and background color for the entire page */
.body_main {
    font: 1.3rem Inconsolata, monospace;
    letter-spacing: 1px;
    color: #39FF14;
    background-color: rgb(8, 4, 20);
    text-shadow: 0 0 3px #C8C8C8;
    padding: 0px;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

/* Set up the container for the title animation */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the container to be 100% of the viewport height */
    background-color: rgb(8, 4, 20);
}

/* Style the text for the title animation */
.typing-text {
    overflow: hidden;
    animation: typing 1s steps(30, end);
    border-right: 2px solid #fff;
    color: #39FF14;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 20px;
}

/* Define the typing animation */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 30%
    }
}

nav {
    background-color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
}

nav h3 {
    margin-left: 10px;
}

.wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.wrapper1
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;  
}

.box {
    width: 90%;
    background-color: #0D1117;
    height: fit-content;
    border-radius: 20px;
    border: 0.5px #202225 solid;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: transform 0.5s ease;

}
.box:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgba(14, 14, 14, 0.308), rgb(8, 4, 20));
}

.box h2 {
    font-size: 40px;
    color:#39FF14;
    text-indent: 100px;
}

.box p {
    text-indent: 36px;
    color:whitesmoke;
    font-size: 20px;
}
.link-pg
{
    color:#39FF14;
    font-size: xx-large;
    font: 1.3rem Inconsolata, monospace;
    text-decoration: none;
}


.title-op
{
    font: 1.3rem Inconsolata, monospace;
    font-size:30px;
    text-align: center;
    
}
.cont-tile-op
{
    text-align: center;
    margin-left:41%;
}
.cont-tile-op1
{
    text-align: center;
    margin-left:36%;
}
.sub-title
{
    font-size: 20px;
    margin-top:10px;
    margin-left:10px;
}
.par-op
{
    text-indent: 36px;
    color:whitesmoke;
    font-size: 20px;
}
.yt-link
{
    color:#39FF14;

}