/*hovers*/

.box:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgba(14, 14, 14, 0.308), rgb(8, 4, 20));
}
.link-pg:hover
{
text-decoration:underline;
}

.home-button:hover
{
    transform: scale(1.05);
}
.yt-link:hover{
    text-decoration:underline;

}
/* end hovers*/


/*animation*/

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 30%
    }
}

/*end animation*/

/*universal atributes*/
body {
    font: 1.3rem Inconsolata, monospace;
    letter-spacing: 1px;
    color: #39FF14;
    background-color: rgb(8, 4, 20);
    text-shadow: 0 0 3px #C8C8C8;
    padding: 0px;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

/*end universnal atributes*/

/*big titles*/
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the container to be 100% of the viewport height */
    background-color: rgb(8, 4, 20);
}

.typing-text {
    overflow: hidden;
    animation: typing 1s steps(30, end);
    border-right: 2px solid #fff;
    color: #39FF14;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 20px;
}

.title-op
{
    font: 1.3rem Inconsolata, monospace;
    font-size:30px;
    text-align: center;
    
}

.sub-title
{
    font-size: 20px;
    margin-top:10px;
    margin-left:10px;
}


/*end big titles*/

/*top terminal-like look*/
nav {
    background-color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
}

nav h3 {
    margin-left: 10px;
}
/* end top terminal-like look*/


/*buttons/segemnts*/
.wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.wrapper1
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;  
}

.box {
    width: 90%;
    background-color: #0D1117;
    height: fit-content;
    border-radius: 20px;
    border: 0.5px #202225 solid;
    padding: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: transform 0.5s ease;

}

.box h2 {
    font-size: 40px;
    color:#39FF14;
    text-indent: 100px;
}

.box p {
    text-indent: 36px;
    color:whitesmoke;
    font-size: 20px;
}
/*end button/segments*/

/*containers exept buttons/segments*/

.cont-title-op
{
    text-align: center;
    margin-left:38%;
}
.cont-title-op1
{
    text-align: center;
    margin-left:32%;
}

/*end containers exept buttons/segments*/



/*links*/
.yt-link
{
    color:#39FF14;
    text-decoration: none;
}
.link-pg
{
    color:#39FF14;
    font-size: xx-large;
    text-decoration: none;
}

/*end links*/

.par-op
{
    text-indent: 36px;
    color:whitesmoke;
    font-size: 20px;
}
